* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: white;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #236370;
}

.des span{
    font-size: 20px;
}

h4 {
    font-size: 20px;
    color: white;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #227c8f;
    margin: 15px 0 20px 0;
}

#header1{
    text-align:center;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}
.body{
    width:100%;
    padding-bottom:60px;
    top:100px;
}

body {
    width: 100%;
    top: 100px;
    padding-top: 90px;
    padding-bottom: 60px;
    background-image: url(../lib/resources/bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#add-item i {
    font-size: 57px;
    position: absolute;
    top: -8px;
    right: -17px;
    border: 4px solid #3A8891;
    border-radius: 50px;
}

#add-item a {
    color: white;
    text-decoration: none;
}

#add-item .plus{
    color: white;
}
/*search*/
.search input{
    position:relative;
    display: inline-block;
    font-size: 18px;
    box-sizing: border-box;
    transition: 0,5s;
}

input[type="text"]{
    color: #0E5E6F;
    height: 50px;
    border: none; 
    padding: 0 20px;
    outline: none;
    border-radius: 25px 0 0 25px;
    
}

input[type="submit"] {
    position: relative;
    border-radius: 0 25px 25px 0;
    left: -5px;
    width: 90px;
    height: 50px;
    border: none;
    outline: none;
    background-image: linear-gradient( 120deg, #06283D, #0E5E6F, #3A8891);
    background-image: linear-gradient( 120deg, #06283D, #0E5E6F, #3A8891);
    background-size: 500% 100%;
    transition: background-position 0.5s;
    background-position: 100% 0;
    color: white;
}
input[type="submit"]:hover {
    background-position: 0 0;
}
/*search*/
.add-button {
    position: fixed;
    width: 140px;
    height: 50px;
    bottom: 80px;
    right: 30px;
    text-align: left;
    padding-left: 10px;
    line-height: 50px;
    border-radius: 5px 5px 5px 10px;
    background-color: #3097ac;
    font-weight: 700;
    color: white;
    border: 1px solid #c1e5ec;
    cursor: pointer;
    background-color: #317f8a;
    background-position: 100% 0;
    transition: .3s ease;
}

#add-item .add-button:hover{
    background-color:#072e42;
}

.pro-container{
    padding: 0 80px;
}

#product1 {
    text-align: center;
}

#product1 .pro-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #248da3;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    background-color: #228094;
    position: relative;
}

    #product1 .pro:hover {
        box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    }

#product1 .pro img {
    width: 100%;
    border-radius: 10px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #8fdbeb;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: white;
    font-size: 16px;
}

#product1 .pro .des h6 {
    font-size: 12px;
    color: white;
}

#product1 .pro .des i{
    font-size: 12px;
    color: #eac612;
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #c1e5ec;
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px 5px 10px 5px;
    background-color: #8fdbeb;
    font-weight: 500;
    color: white;
    border: 1px solid #c1e5ec;
    position: absolute;
    bottom: 30px;
    right: 10px;
}

#buttons {
    padding-top: 5px;
}

#buttons a{
    text-decoration: none;
    color:white;
    padding:4px;
    
}
    

.button-81 {
    margin: 5px;
    background-color: #248da3;
    border: 0 solid rgb(255, 255, 255);
    border-color: white;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
    line-height: 1;
    padding: 10px;
    text-align: center;
    text-decoration: none #ffffff solid;
    text-decoration-thickness: auto;
    transition: .2s ease;
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

    .button-81:hover {
        background-color: #319eb5;
        color: white;
    }
