/*---------------------------------------header---------------------------------------*/
/*.navbar-brand{
    font-style:normal;
    color: #ffffff;
    font-size: 30px;
    line-height: 20px;
    font-weight: 500;
    width: 200px;
}
*/

.navbar-brand {
    font-size: 30px;
    line-height: 20px;
    font-weight: 500;
}
nav {
    padding-left: 60px;
}

li {
    
    line-height: 60px
}

nav ul li{
    font-size: 15px;
    margin: 0 20px;
}

/*---------------------------------------header---------------------------------------*/

/*---------------------------------------body---------------------------------------*/

.container-2{
    width: 100%;
}
.background{
    height: 100vh;
    width: 100%;
    background-image: url(../lib/resources/bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment:fixed;
    padding-left: 10%;
    padding-right: 25%;
    box-sizing: border-box;
    position:relative;
}



.header p {
    font-weight: 300;
    line-height: 12px;
    font-size: 15px;
    color: #0E5E6F;
}

.header h2{
    line-height: 30px;
    font-weight: 600;
    color: #0E5E6F;
}

.header span {
    font-weight: 400;
    color: #3A8891
}

.background .header{
    position: absolute;
    margin-top: 20%;
    width: 50%;
}

.button-home{
    margin-top: 30px;
}
    .button-home .button a {
        font-weight: 400;
    }

    .button-home .button {
        border-radius: 20px;
        width: 100px;
        align-content: center;
        padding: 5px 40px;
        background-image: linear-gradient( 120deg, #06283D, #0E5E6F, #3A8891);
        background-size: 500% 100%;
        background-position: 100% 0;
        text-decoration: none;
        color: white;
        transition: background-position .3s;
    }

    .button-home .button:hover {
      background-position: 0 0;
    }
/*---------------------------------------body---------------------------------------*/

/*---------------------------------------about---------------------------------------*/
/*min-height para di mulapas sa footer*/
.background-2{
    min-height: 100vh;
    width: 100%;
    background-image: url(../lib/resources/bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10% 0;
    box-sizing: border-box;
    position: relative;
}
.about-content {
    position: relative;
    text-align: center;
    margin: auto;
    padding: 30px 10px;
    background-color: rgba(241, 237, 237, 0.77);
    background-size: cover;
    width: auto;
}

.about-title .title {
    margin: 50px 0 30px 0;
    color: #06283D;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 5px
}

.description {
    color: #256D85;
    font-size: 15px;
    font-style: italic;
    font-weight: 600;
}


.members-content{
    margin: 50px;
    position: relative;
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
}

.about-members {
    color: #256D85;
    box-shadow: 0 0 20px rgba(227, 225, 225, 0.47);
    background-image: linear-gradient( 60deg, #FFFFFF, #DFF6FF);
    background-size: 200% 100%;
    background-position: 100% 0;
    border-radius: 12px;
    position: relative;
    margin: 25px;
    box-sizing: border-box;
    transition: background-position 0.5s;
}

.about-members:hover {
    background-position: 0 0;
    background-image: linear-gradient( 60deg, #06283D, #0E5E6F, #3A8891);
    color: white;
}

.display-profile{
    height: 100px;
    margin: 40px 0; 
}

.members .name {
    font-size: 15px;
    font-weight: 700;
}


.members .role {
    color: inherit;
    transition: 0.5s;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.members {
    margin: 20px 0;
    position: relative;
    padding: 5px;
    border-radius: 30px;
    width: 250px;
    height: auto;
}

.members .name{
    color:inherit;
    height: 50px;
    font-size: 20px;
    line-height: 20px;
    margin: 10px 30px 5px 30px;
    transition: 0.5s;
}
.social-links{
    margin-top: 50px;
    width: 100%;
}
.members a {
    color: inherit;
    font-size: 40px;
    width: 50%;
    text-decoration: none;
    transition: 0.3s;
}

.members a:hover{
    font-size:45px;
}
/*---------------------------------------about---------------------------------------*/
/*---------------------------------------edit page---------------------------------------*/
.background-3 {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(236, 244, 245, 0.50), rgba(204, 218, 221, 0.71 )), url(../lib/resources/bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10% 65% 10% 4%;
    box-sizing: border-box;
}
.edit-row-content{
    z-index: 1;
}
.edit-row-content {
    padding: 30px;
    background-image: linear-gradient(to bottom, #FFFFFF, #FFFFFF);
    border-radius: 25px;
}

.edit-row-content form .details {
    max-height: 400px;
    overflow-y: scroll;
    scrollbar-color: #6969dd #e0e0e0;
}
.details::-webkit-scrollbar {
    width: 10px;
}
.details::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px rgba(20, 121, 146, 0.8);
}

.details::-webkit-scrollbar-track {
    background-color: whitesmoke;
}

.form-group {
    margin: 10px;
}

.form-group label{
    color: #06283D;
    font-weight: 500;
    font-size: 18px;
}
.form-group input {
    color: #0E5E6F;
    font-size: 18px;
}

.form-group-btn {
    margin: 30px 0 10px 0;
    display: flex;
    justify-content: center;
}


.form-group-btn .button {
    border: none;
    width: 100%;
    align-items: center;
    padding: 5px;
    text-decoration: none;
    background-image: linear-gradient( 120deg, #06283D, #0E5E6F, #3A8891);
    background-size: 500% 100%;
    background-position: 100% 0;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    transition: background-position 0.5s;
}
.form-group-btn .button:hover{
    background-position: 0 0;
}

.return-back a{
    color:#0E5E6F;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 15px;
}

.edit-row h1{
    text-align: center;
    color: #06283D;
    text-transform: uppercase;
    letter-spacing: 2px;
}
/*---------------------------------------edit page---------------------------------------*/
/*---------------------------------------delete page---------------------------------------*/
.description-details{
    background: #FFFFFF;
    border-radius: 30px;
    padding: 50px;
}

.description-heading-details h3 {
    text-align: center;
    color: #0E5E6F;
    letter-spacing: 2px;
}

.description-heading-details h1 {
    text-transform: uppercase;
    
    text-align: center;
    color: #0E5E6F;
}
.description-heading-details li {
    color: #0E5E6F;
    line-height: 40px;
    font-size: 20px;
    list-style: none;
    font-weight: 500;
    margin-left: -30px;
}

.description-heading-details span{
    text-align:center;
    margin-left: 10px;
    color: #06283D;
    font-weight: 300;
}
    
/*---------------------------------------detailspage---------------------------------------*/
/*---------------------------------------button for delete and details---------------------------------------*/
.return-back-button .back-to-list {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}
.button-delete-wrap .button-delete {
    border: none;
    width: 100%;
    align-items: center;
    padding: 5px;
    text-decoration: none;
    background-image: linear-gradient( 120deg, #06283D, #0E5E6F, #3A8891);
    background-size: 500% 100%;
    background-position: 100% 0;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    transition: background-position 0.5s;
}

.button-delete-wrap .button-delete:hover {
    background-position: 0 0;
    background-image: linear-gradient( 120deg, #b50c0c, #e00c19, #f71f18);
}

/*edit page button*/
.button-container-wrap{
    margin-top: 10px;
    text-align: center;
}
.button-edit .edit {
    display: inline-block;
    border: none;
    width: 100%;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px;
    text-decoration: none;
    border-radius: 10px;
    background-image: linear-gradient( 120deg, #06283D, #0E5E6F, #3A8891);
    background-size: 500% 100%;
    background-position: 100% 0;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    transition: background-position 0.5s;
}
.button-edit .edit:hover    {
    background-position: 0 0;
}
    .return-back-details .back-to-list {
        text-decoration: none;
    }

/*---------------------------------------button for delete and details---------------------------------------*/
html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  bottom: 60px;
  width: 100%;
}