@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="background">
    <div class="header">
        <p>Welcome to <span>TazerApparels.Co</span></p>
        <h2 class="display-4">ADMIN PAGE</h2>
        <div class="button-home">
            <a class="button" asp-area="" asp-page="/Apparels/Index">ITEMS</a>
        </div>
    </div>
</div>
