@page
@model Tazer.Pages.Apparels.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="background-3">
    <div class="edit-row">
            <h1>Create</h1>
            <hr />
        <div class="edit-row-content">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class ="details">
                    <div class="form-group">
                        <label asp-for="Tees.Product" class="control-label"></label>
                        <input asp-for="Tees.Product" class="form-control" />
                        <span asp-validation-for="Tees.Product" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Tees.Quantity" class="control-label"></label>
                        <input asp-for="Tees.Quantity" class="form-control" />
                        <span asp-validation-for="Tees.Quantity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Tees.Brand" class="control-label"></label>
                        <input asp-for="Tees.Brand" class="form-control" />
                        <span asp-validation-for="Tees.Brand" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Tees.Color" class="control-label"></label>
                        <input asp-for="Tees.Color" class="form-control" />
                        <span asp-validation-for="Tees.Color" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Tees.Design" class="control-label"></label>
                        <input asp-for="Tees.Design" class="form-control" />
                        <span asp-validation-for="Tees.Design" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Tees.Sizes" class="control-label"></label>
                        <input asp-for="Tees.Sizes" class="form-control" />
                        <span asp-validation-for="Tees.Sizes" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Tees.Neckline" class="control-label"></label>
                        <input asp-for="Tees.Neckline" class="form-control" />
                        <span asp-validation-for="Tees.Neckline" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Tees.Material" class="control-label"></label>
                        <input asp-for="Tees.Material" class="form-control" />
                        <span asp-validation-for="Tees.Material" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Tees.Price" class="control-label"></label>
                        <input asp-for="Tees.Price" class="form-control" />
                        <span asp-validation-for="Tees.Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Tees.Date" class="control-label"></label>
                        <input asp-for="Tees.Date" class="form-control" />
                        <span asp-validation-for="Tees.Date" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group-btn">
                    <input type="submit" value="Create" class="button" />
                </div>
                <div class="return-back">
                    <a asp-page="Index">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
