.background-3 {
    min-height: 100vh;
    width: 100%;
    background-image: url(../lib/resources/bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10% 80% 10% 20%; 
    box-sizing: border-box;
    position: relative;
}


edit-row{

}