@page
@model Tazer.Pages.About.IndexModel
@{
}

<div class="container-2">
	<div class="about-content">
		<div class="about-title">
			<h2>ABOUT US</h2>
			<P>We are a team of skilled developers which embarks the path of web development that guarantees high-quality and responsive design</P>
		</div>
		<div class="about-members">
			<div class="members">
				<img src="~/lib/resources/members/Ellipse 8.png"/>
				<div class="name">Clint Airol Sepalon</div>
				<div class="role">Programmer 1</div>

				<div class="links">
					<a> <i class="fa"></i></a>
				</div>
				
			</div>
		</div>
	</div>
</div>