@page
@model Tazer.Pages.About.IndexModel
@{
}

<div class="background-2">
		<div class="about-content">
			<div class="about-title">
				<h2 class="title">ABOUT US</h2>
				<P class="description">"We are a team of skilled developers which embarks the path of web development that guarantees high-quality and responsive design"</P>
			</div>
			<div class="members-content">
				@*start of member*@	
				<div class="about-members">
					<div class="display-profile">
						<img src="~/lib/resources/members/Ellipse 7.png"/>
					</div>
					<div class="members">
						<div class="name">Timothy Gelig</div>
						<div class="role">Programmer 2</div>
						<div class="social-links">
							<a href="#"><i class="fas fa-square-envelope"></i></a>
						</div>
					</div>
				</div>
				@*end of member*@
				@*start of member*@
				<div class="about-members">
					<div class="display-profile">
						<img src="~/lib/resources/members/Ellipse 8.png" />
					</div>
					<div class="members">
						<div class="name">Clint Airol Sepalon</div>
						<div class="role">Programmer 1</div>
						<div class="social-links">
						<a href="#"><i class="fas fa-square-envelope"></i></a>
						</div>
					</div>
				</div>
				@*end of member*@
				@*start of member*@
				<div class="about-members">
					<div class="display-profile">
						<img src="~/lib/resources/members/Ellipse 10 (1).png" />
					</div>		
					<div class="members">
						<div class="name">Paevyn France Ornopia</div>
						<div class="role">UX Designer</div>
						<div class="social-links">
						<a href="#"><i class="fas fa-square-envelope"></i></a>
						</div>
					</div>
				</div>
				@*end of member*@
				@*start of member*@
				<div class="about-members">
					<div class="display-profile">
						<img src="~/lib/resources/members/Ellipse 9.png" />
					</div>
					<div class="members">
						<div class="name">Lin Jun Nable</div>
						<div class="role">UI Designer</div>
						<div class="social-links">
						<a href="#"><i class="fas fa-square-envelope"></i></a>
						</div>
					</div>
				</div>
				@*end of member*@
			</div>
		</div>
</div>
